@charset "UTF-8";

/*********************************************
footer
**********************************************/

footer{
	border: 1px solid #ddd;
	margin-top: 20px;
	background-color: #f8f8f8;
}

.footer-wrap{
	border: 1px solid #ddd;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	padding: 10px;
}

.footer-wrap > div{
	border: 1px solid #ddd;
	width: 250px;
}

.footer-copyright p{
	text-align: center;
}

.footer-left{
	background-color: white;
	margin-right: 10px;
	margin-bottom: 10px;
}

/*********************************************
SP size
**********************************************/

@media all and (max-width: 600px) {

.footer-wrap{
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

.footer-wrap > div{
	width: 100%;
}

}