@charset "UTF-8";

.container-404{
	display: flex;
	background-color: #f8f8f8;
	padding: 10px;
	border: 1px solid #ddd;
}

.main-404{
	border: 1px solid #ddd;
	flex:1;
	align-self: flex-start;
	background-color: white;
}

.wrap-404 h1{
	text-align: center;
	border: 0px solid;
}